extends layout

block content
  head
    link(rel="stylesheet", href="styles.css")
  body
    .main
      .signup
        form(action="/login", method="POST") 
          input(type="email", name="email", id="email", placeholder="Email", required="")
          input(type="password", name="password", id="password", placeholder="Password", required="")
          button(type="submit") Login

            p Aún no tienes cuenta? 
            a(href="./registro") Regístrate
