extends layout 

block content
  head
    link(rel="stylesheet", href="styles.css")
  body
    .main
      .signup
        form
          form
          label(for="chk", aria-hidden="true") Login
          input(type="email", name="email", placeholder="Email", required="")
          input(type="password", name="pswd", placeholder="Password", required="")
          button Login

          p aun no tienes cuenta? 
          a(href="./registro") Registrate

