body {
  background-color: #444442;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

p {
  text-align: center;
  color: #fff;
}

a {
  display: flex;
  justify-content: center;
  color: red;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(68, 77, 69, 0.862745098);
  padding: 5px 0;
  text-align: center;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s;
}
nav ul li a:hover {
  background-color: #5e43f5;
}

.centered-index-content {
  max-width: 800px;
  margin: 5% 10% 0 10%;
}

h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

h4 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}
.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}
.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input, textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}
input:focus, textarea:focus {
  outline: 0;
}
input:focus ~ span, textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.div input[type=checkbox] {
  float: inline-start;
}

.container {
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.submit-btn {
  padding: 7px 20px;
  margin-top: 10px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06) 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
.submit-btn.submit-btn {
  width: 30%;
  float: inline-start;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.main label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.main input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  color: #000;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #cac1db;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  font-size: 50px;
  color: #fafafc;
  transform: scale(0.6);
}

/*# sourceMappingURL=styles.css.map */
